.navbar {
  color: darkgray;
  font-weight: bold;
  text-align: center;
}

.navbar > a {
  color: darkgray;
  text-decoration: none;
}

.navbar > a:visited {
  color: darkgray;
}

.navbar > a:hover {
  color: #01d28e;
}

.navbar > a:active {
  color: #6cf0c2;
}

.status {
  display: flex;
  flex-direction: column;
}

.loading-screen {
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.input-container > input {
  flex: 1;
  margin-left: 20px;
  justify-content: space-evenly;
}

.input-container > label {
  flex: 1;
}

h3 {
  margin-left: 20px;
}